html,body {
margin:0;
padding:0;
}

body {
background:#262324;
font-family:source-code-pro,"Courier New",Courier,mono;
font-weight:400;
font-size:11px;
line-height:20px;
color:#fcfcfc;
}

p {
margin:5px 0 15px;
}

ul {
list-style:none;
margin:0;
}

ul li {
margin-bottom:15px;
}

img {
max-width:none;
}

h1 {
font-family:brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
font-size:47px;
line-height:1;
color:#fcfcfc;
text-transform:uppercase;
letter-spacing:12px;
margin:0;
padding:0 0 10px 30px;
}

h2 {
font-family:brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
font-size:13px;
line-height:1;
color:#fcfcfc;
text-transform:uppercase;
letter-spacing:5px;
}

h3 {
font-family:brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
font-size:18px;
line-height:1;
color:#fcfcfc;
text-transform:uppercase;
letter-spacing:2px;
margin:0 0 15px;
padding:0;
}

h4 {
font-family:brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
font-size:11px;
line-height:1;
color:#fcfcfc;
text-transform:uppercase;
letter-spacing:5px;
border-bottom:1px solid #fcfcfc;
margin:25px 10px 10px 0;
padding:5px 0 10px;
}

h5 {
font-family:source-code-pro,"Courier New",Courier,mono;
font-size:12px;
line-height:1;
text-transform:uppercase;
letter-spacing:2px;
font-weight:600;
clear:both;
margin:0;
padding:0;
}
/*
a {
color:#fcfcfc;
}

a:hover {
color:#fcfcfc;
text-decoration:underline;
}

hr {
width:80px;
height:1px;
border:0;
background:#fcfcfc;
float:right;
margin:0 0 30px;
}

.btn {
display:inline;
zoom:1;
margin-bottom:0;
font-size:12px;
text-transform:uppercase;
font-family:brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:700;
letter-spacing:2px;
line-height:20px;
text-align:center;
vertical-align:middle;
cursor:pointer;
color:#fcfcfc;
border:2px solid #fcfcfc;
padding:3px 28px;
}

.btn:hover {
text-decoration:none;
color:#262324;
background:#fcfcfc;
}

.btn:active,.btn:visited {
color:#fcfcfc;
text-decoration:none;
}
*/

/*
#intro header {
zoom:1;
z-index:5;
position:absolute;
margin-left:40px;
top:50%;
margin-top:-100px;
}

#intro header .logo h1 {
display:block;
margin:0;
padding:0;
}

#intro header .logo .bullet {
color:#4e484a;
}
*/
#intro {
display:block;
position:relative;
height:100%;
width:100%;
background:#262324;
z-index:1;
overflow:hidden;
}
